apiVersion: v1
kind: ConfigMap
metadata:
  name: bgp-config
  namespace: kube-system
data:
  config.yaml: |
    peers:
      - peer-address: 10.10.0.1
        peer-asn: 65401
        my-asn: 65400
    address-pools:
      - name: default
        protocol: bgp
        addresses:
          - 10.10.200.0-10.10.200.254
